main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 1rem;
  gap: var(--padding);
}

.cripto,
.uncripto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  background-color: var(--cor-secundaria);
  border-radius: var(--border-radius);
  box-shadow: 1px 3px 5px rgba(10, 56, 113, 0.2);
}

.cripto__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.cripto__header--logo {
  height: 1.3rem;
  padding-right: 0.5rem;
}

.cripto__header h1 {
  color: var(--cor-primaria);
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}

.cripto__alerta {
  display: flex;
  justify-content: center;
}
.uncripto__mensagem--figure p,
.cripto__alerta p {
  color: var(--cor-primaria);
  font-size: 0.75rem;
  font-weight: 400;
  padding-left: 0.5rem;
  text-align: center;
}

.cripto__mensagem,
.uncripto__mensagem {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.cripto__mensagem--input,
.uncripto__mensagem--input {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--cor-terciaria);
}

.cripto__mensagem--input::placeholder,
.uncripto__mensagem--input::placeholder {
  color: var(--cor-primaria);
  font-size: 0.75rem;
  font-weight: 200;
  padding-left: 0.3rem;
}

.cripto__mensagem--input:focus,
.uncripto__mensagem--input:focus {
  outline: none;
  box-shadow: 1px 3px 5px rgba(10, 56, 113, 0.2);
  color: var(--cor-primaria);
  font-weight: 400;
}

.cripto__conteudo--acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--padding);
}

.uncripto__mensagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uncripto__mensagem--figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uncripto__mensagem--imagem {
  max-width: 40%;
}

.uncripto__mensagem--texto {
  color: var(--cor-primaria);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 1rem;
}

.uncripto__acoes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uncripto__mensagem--container,
.uncripto__mensagem--criptografada {
  flex-grow: 1; /* Permite que os itens ocupem o espaço disponível */
}
