@media (min-width: 960px) {
  html,
  body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  main {
    flex-direction: row;
    width: 90%;
    height: 80%;
  }
}

@media (max-height: 480px) {
  main {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .uncripto__mensagem--imagem {
    display: none;
  }
}
