@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --cor-neutra-escura: #000000;
  --cor-neutra-clara: #14e43a;
  --cor-neutra-media: #808080;
  --cor-primaria: #0a3871;
  --cor-secundaria: #e9ecf8;
  --cor-terciaria: #fcf3f8;
  --cor-fundo-app: var(--cor-terciaria);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--cor-fundo-app);
  align-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.logo {
  height: 1.5rem;
}
.uncripto__conteudo__imagem {
  max-width: 50%;
}

h1 {
  color: var(--cor-primaria);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  width: 90vw;
}

.cripto__conteudo,
.uncripto__conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
  width: 50%; /* Define a largura de cada elemento para 50% */
}
.cripto__conteudo {
  background-color: var(--cor-neutra-clara);
}
.uncripto__conteudo {
  background-color: var(--cor-neutra-media);
}
.cripto__conteudo__avisos {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--cor-neutra-media);
}
